<html>
    <head>
        <title>2793990 Apriori</title>
    </head>
    <style>
        header { 
            text-align: center;
        }
    </style>
    <body>
        
	<form action="/getResults" method="POST" enctype="multipart/form-data" >
            <div style= "margin: 10px">
                <label style= "padding-left: 40px; padding-right: 40px" for="inputFile">Input file </label>
                <input type="file" id="inputFile" name="inputFile">
                <label  style= "padding-left: 40px; padding-right: 40px" for="minSup">Minimum Support:</label>
                <input  type="text" id="minSup" value="20" name="minSup">
                <input style= "margin: 40px" type="submit" value="Results">
            </div>
            
        </form>


    </body>
</html>
